<div class="container">
    <div class="box" style="height: 450px;">
        <h1 class="title">Forget Password</h1>
        <input class="input" type="email" name="email" id="email" placeholder="Username or email">
        <input class="input" type="email" name="confirmEmail" id="confirmEmail" placeholder="Confirm: Username or email">
        <button class="button" type="button">Send</button>
        <p>You'll receive an email.</p>
    </div>
    
    <div class="box">
        <p>Back to <a class="link" href="/">Home</a></p>
    </div>
</div>